@charset "utf-8";

html{
    font-size: 100%;
}
body{
    font-size: 0.875rem;
    color: #2a2a2a;
    font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.7;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
/* content */
.wrapper{
    padding: 0 5%;
    margin: 0 auto;
    max-width: 1200px;
}


.flex-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-title{
    position: absolute;
    top: 30px;
    right: 30px;
}
#header{
    background-image: url(../img/mainvisual.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 0 30px 0;
}


#magazine .flex-item .item{
    width: 48%;
}
#magazine .text{
    background-color: black;
    text-align: center;
    padding: 10px 15px;
}
#magazine .title{
    font-weight: bold;
}
#fashion{
    background-image: url(../img/fashion.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
}
.btn{
    padding: 15px;
    border: solid 1px black;
    color: #fff;
}
#catalog-antique{
    background-color: gray;
    padding-top: 30px;
}
#footer{
    background-color: #242424;
}
#footer .item{
    width: 32%;
}

.copyright{
    background-color: #fff;
    text-align: center;
}
