@charset "UTF-8";
html{
    font-size: 100%;
}

body{
    font-size: 0.875rem;
    color: #2a2a2a;
    font-family: "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    opacity: 0.7;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
}

/* //中身コンテンツ */

.wrapper{
    padding: 0 5%;
    margin: 0 auto;
    max-width: 1920px;
}

.sec-title{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* ボタン */

.btn{
    color: #2a2a2a;
    border: solid 1px #2a2a2a;
    display: inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
}

/* ヘッダー */
#header{
    height: 100vh;
    background-image: url(../img/mainvisual.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margi
}
